<h1>Lista de Productos</h1>
{{#if productos.error}}
<p class="alert alert-primary">No hay productos cargados</p>
{{else}}
<table class="table table-borderless table-hover table-responsive align-middle">
<thead>
    <tr>
    <th scope="col">Producto</th>
    <th scope="col">Precio</th>
    <th scope="col">Imagen</th>
    </tr>
</thead>
<tbody>
{{#each productos}}
    <tr>
        <td class="align-middle">{{this.title}}</td>
        <td class="align-middle">${{this.price}}</td>
        <td class="align-middle"><img src={{this.thumbnail}} alt={{this.title}} class="w-25"/></td>
    </tr>
{{/each}}
</tbody>

<caption>
    Productos disponibles
</caption>
</table>
{{/if}}